@{
    ViewData["Title"] = "Home Page";
}

<div class="text-left">

         <h1 class="masthead-subheading">Welcome To Our System!</h1>
    <h3 class="masthead-heading text-uppercase">It's Nice To Meet You</h3> 
</div>
