@model RoleViewModel



<div>
    
    <hr />
    <nav class="row">
        <dl class="row col-6 m-0">

            <dt class="col-sm-4 ">
                @Html.DisplayNameFor(model => model.ID)
            </dt>
            <dd class="col-sm-8">
                @Html.DisplayFor(model => model.ID)
            </dd>
            <dt class="col-sm-4">
                @Html.DisplayNameFor(model => model.RoleName)
            </dt>
            <dd class="col-sm-8">
                @Html.DisplayFor(model => model.RoleName)
            </dd>
           
        </dl>


    </nav>
    
</div>
