@model DepartmentViewModel

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete Department</h1>

<div>
    <form asp-controller="Department" asp-action="Delete">
        <partial name="DepartmentPartialViews/_DepartmentDetailsDeletePartialView" model="Model" />
        <input type="submit" value="Delete" class="btn btn-danger" />
        <a asp-controller="Department" asp-action="Index" class="btn btn-light">Back To List</a>

    </form>

</div>
