@model EmployeeViewModel

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete Department</h1>

<div>

    <form asp-controller="Employee" asp-action="Delete">
        <partial name="EmployeePartialViews/_EmployeeDetailsDeletePartialView" model="Model" />
        <input type="hidden" asp-for="ImageName" />


        <input type="submit" value="Delete" class="btn btn-danger" />
        <a asp-controller="Employee" asp-action="Index" class="btn btn-light">Back To List</a>

    </form>

</div>
