@model UserViewModel

@{     ViewData["Title"] = "Delete";  }



<div class="container">

    <br />
    <h1>Delete Employee</h1>


    <partial name="PartialView/Delete_Details_PartialView" />

        <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        @* <input type="hidden" asp-for="ImageName" /> *@

        <div class="mt-5">
            <input type="submit" value="Delete" class="btn btn-danger mr-3" />
            <a asp-action="Index" class="btn btn-light">Back to List</a>
        </div>
        </form>


</div>


