@model UserViewModel
@{

}



<div class="container">

    <br />
    <h1>Details</h1>

    <partial name="PartialView/Delete_Details_PartialView" />
    <div class="mt-5">
        <a asp-controller="User" asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-warning mr-3">Edit</a>
        <a asp-controller="User" asp-action="Index" class="btn btn-light">Back to List</a>
    </div>

</div>