@model ForgotPasswordViewModel
@{
    ViewData["Title"] = "ForgotPassword";
    Layout = "~/Views/Shared/_AuthLayout.cshtml";
}

<div class="main-agileinfo">
    <div asp-validation-summary="All"></div>
    <div class="agileits-top">
        <form asp-action="SendResetPasswordUrl">
            <div class="input-field">
                <input asp-for="Email" required="">
                <label>Enter your email</label>
            </div>

            <button type="submit">Reset Password</button>
        </form>
    </div>
</div>
@section ValidationSection {
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
}

