@model ResetPasswordViewModel

@{
    ViewData["Title"] = "ResetPassword";
    Layout = "~/Views/Shared/_AuthLayout.cshtml";
}

<div class="main-agileinfo">
	<div asp-validation-summary="All"></div>
<div class="agileits-top">

        <form asp-action="ResetPassword">
            <div class="input-field">
                <input class="text w3lpass" asp-for="NewPassword" required="">
                <label> New Password</label>
            </div>

            <div class="input-field">
                <input class="text w3lpass" asp-for="ConfirmNewPassword" required="">
                <label>Confirm  Password</label>
            </div>
            <div class="clear"> </div>
                 <br />
                  <button type="submit">Reset Password</button>
            </form>
    </div>
</div>
